# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

draft_python_files/
data_after_processing/
GoogleNews-vectors-negative300.bin
reviews_entity_recognition.ipynb
shortcuts.txt
discussions.txt
.DS_Store
data/